[Desktop Entry]
Categories=LliureX-Administration;
Comment[es_ES]=Programa para configurar las WIFI educativas de la GVA
Comment=Program to configure the educational WIFI of the GVA
Comment[ca@valencia]=Programa per a configurar les WIFI educatives de la GVA
Comment[ca_ES.UTF-8@valencia]=Programa per a configurar les WIFI educatives de la GVA
Encoding=UTF-8
Exec=/usr/sbin/lliurex-wifi-gva-control
GenericName[es_ES]=lliurex-wifi-gva-control
GenericName=lliurex-wifi-gva-control
Icon=lliurex-wifi-gva-control
MimeType=
Name[es_ES]=Lliurex-WIFI-GVA-Control
Name=Lliurex-WIFi-GVA-Control
Name[ca@valencia]=Lliurex-WIFI-GVA-Control
Name[ca_ES.UTF-8@valencia]=Lliurex-WIFI-GVA-Control
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=lliurex-wifi-gva-control
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
